:root {

    font-size: 16px;
    font-family: "Open Sans", sans-serif;

    --text-primary: #b6b6b6;
    --text-secondary: #e6e6e6;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-terciary: #1a1a22;


    --transition-speed: 600ms;


}

* {

    margin: 0;
    padding: 0;

    color: var(--text-primary);

}

body {
    background-color: #1a1a22;
}

.title {

    display: flex;

    align-content: center;
    justify-content: center;

}